{% extends "public_template.html" %}

{%block title%}Home{% endblock %}

{% block main %}

<div class="container">
    <div class="row">

        <h1>MediaStack API Headlines</h1>
        <hr> 
        <ul>
            {% for mainKey in data.keys() %}
                {% if mainKey == "data"}
                    {% for k, v in data[mainKey].iteritems() %}
                    <li>{{v}}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>

{% endblock main %}