{% extends "public_template.html" %}

{%block title%}Home{% endblock title %}

{% block main %}

<div class="container">
    <div class="row">

        <h1>Headlines</h1>
        <hr> 
        <ul>
            {% for item in headlines %}
            {{item.title}}
            <br>
            {{item.published_at}}
            <br>
            {{item.description}}
            <br>
            {{item.source}}
            <br>
            {{item.category}}
            {% endfor %}
        </ul>

{% endblock main %}